* {
  margin: 0;
  padding: 0;
  box-sizing: border-box border-box;
}

button,
input {
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.main-Div {
  height: 80%;
  width: 80%;
  margin: 8% auto;
  border-radius: 10px;
  background-color: rgb(0, 50, 59);
  /* border: 2px solid red; */
}

.close-button{
  position: absolute;
  right: 10%;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  color: whitesmoke;
  background: none;
}

.close-icon{
  font-size: 30px;
  font-weight: bold;
}

.main-Div h1 {
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.404);
  /* border: 2px solid green; */
}

.main-Div .input-div {
  width: 100%;
  /* border: 2px solid rgb(62, 255, 4); */
}

.main-Div .input-div .flex-div {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
}

label{
  font-size: 25px;
  font-weight: 500px;
  color: whitesmoke;
}

.flex-div input,select{
  width: 340px;
  padding: 5px;
  color: whitesmoke;
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgb(63, 0, 0);
}

select{
  width: 340px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(36, 0, 0);
}

select option{
  background-color: rgb(63, 36, 0);
}

.description-textArea {
  width: 90%;
  border: none;
  outline: none;
  padding: 5px;
  height: 100px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}


.main-Div .input-div .button-div {
  padding-bottom: 10px; 
  margin: 10px 0px 0px 775px;
}

.main-Div .input-div .button-div button{
  margin-left: 13px;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
}



@media (max-width: 768px) {

  .main-Div{
    margin: 40% auto;
  }

  .main-Div .input-div .flex-div{
    flex-direction: column;
    gap: 10px;
    margin-left: 10px
  }

  .flex-div input,select{
    /* font-size: 10px; */
    width: 90%;
  }

  select option{
    font-size: 10px;
    width: 20px !important;
    border: 2px solid red;
  }

  .description-textArea{
    width: 90% !important;
    font-size: 20px;
  }

  .description-div{
    margin-top: 10px !important;
    margin-left: 2% !important;
  }

  .main-Div .input-div .button-div{
    margin: 10px;
    margin-left: 40px;
  }
}




/* Task List Component Style */

.main-taskList-div {
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 3, 48);
}

.main-taskList-div .sub-menu-div {
  width: 95%;
  height: 95%;
  border: 2px solid lawngreen;
}



.main-taskList-div .taskList-info-div {
  width: 95%;
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.733);
  border: 2px solid aqua;
  position: fixed;
}

.search-icon{
  color: rgb(194, 0, 0);
  font-size: 35px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-weight: bold;  
}

.icon{
  margin: 10px 0px 0px 10px;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(110, 0, 0);
}

.group-button-div {
  margin: 10px;
  width: 255px;
  display: flex;
  justify-content: space-between;
}

 .button {
  width: 115px;
  height: 40px;
  color: purple;
  border-radius: 5px;
  background-color: wheat;
}

.search-bar-input {
  height: 35px;
  padding-left: 5px;
  background: rgba(255, 255, 255, 0.685);
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.flex {
  display: flex;
  gap: 10px;
}

.bottom-div{
  width: 95%;
  bottom: 15px;
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(0, 0, 0);
  border: 2px solid red;
}

.bottom-div .bottom-icon{
  padding-top: 5px;
}



/* Style for table container */
.table-container {
  width: 95%;
  height: 70%;
  margin: 9% auto;
  overflow-y: auto;
  background-color: #f0f0f0;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container::-webkit-scrollbar {
  display: none; 
}

/* Table styling */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

/* Table header */
.styled-table th {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
}

/* Table rows and data cells */
.styled-table td {
  padding: 12px;
  border-bottom: 1px solid #000000;
}

/* Table row hover effect */
.styled-table tr:hover {
  background-color: #a1a1a1;
}

/* Alternate row coloring */
.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:nth-last-child(2){
  color: red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}

.task-show-button{
  margin-right: -100px;
  /* border: 2px solid red; */
}

.task-show-button button{
  width: 80px;
  height: 30px;
  font-size: 20px;
  color: lawngreen;
  margin-left: 10px;
  background-color: #000000;
}



@media (max-width: 600px) {
  .table-container{
    height: 80%;
    margin: 30% auto;
  }

  .bottom-div{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bottom-div .button-div{
    width: 50px !important;
  }
}

